@page "/"
@using MarketHub.Clients.Rates.Contracts.Dtos.LatestCurrencyRates

<PageTitle>Currency Portal</PageTitle>

<div class="row">
    <div class="col-2">
    </div>
    <div class="col-2">
        <div class="text-center">
            @* <Grid TItem="CurrencyRateDto" Class="table table-hover table-bordered table-striped"
                DataProvider="CurrencyRatesDataProvider" AllowSummary="false" Responsive="true">
                <GridColumns>
                    <GridColumn TItem="CurrencyRateDto" HeaderText="Name" PropertyName="Name" />
                    <GridColumn TItem="CurrencyRateDto" HeaderText="Code" PropertyName="Code" />
                    <GridColumn TItem="CurrencyRateDto" HeaderText="Rate" PropertyName="Rate" />
                </GridColumns>
            </Grid> *@
        </div>
    </div>
    <div class="col-2">
    </div>
</div>