@page "/"
@namespace MarketHub.Apps.CurrencyPortal.Web.Pages
@using MarketHub.Clients.Nbp.Contracts.Dtos.ExchangeRates.Tables


<PageTitle>Currency Portal</PageTitle>
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-2">

        @if (string.IsNullOrWhiteSpace(LoadingMessage))
        {
            <div class="text-center">
                From: @FromDate.ToShortDateString()
                To: @ToDate.ToShortDateString()
                @foreach (var table in ExchangeRateTables)
                {
                    @($"{table.No} - {table.EffectiveDate}") <br />
                }
            </div>
        }
        else
        {
            <div class="text-center">
                @LoadingMessage
            </div>
        }
    </div>
    <div class="col-2">
    </div>
</div>