@page "/"
@namespace MarketHub.Apps.CurrencyPortal.Web.Pages

@using MarketHub.Clients.Rates.Contracts.Dtos.LatestCurrencyRates

<PageTitle>Currency Portal</PageTitle>

<h1>@tableTitle</h1>
<Grid @ref="currencyRatesGrid" TItem="CurrencyRateDto" AllowFiltering="true" AllowPaging="true" AllowSorting="true"
    AllowSelection="true" Class="table table-hover table-bordered table-striped" PageSize="25" Responsive="true"
    Data="currencyRates">
    <GridColumn TItem="CurrencyRateDto" HeaderText="Name" PropertyName="Name">@context.Name</GridColumn>
    <GridColumn TItem="CurrencyRateDto" HeaderText="Code" PropertyName="Code">@context.Code</GridColumn>
    <GridColumn TItem="CurrencyRateDto" HeaderText="Rate" PropertyName="Rate">@context.Rate</GridColumn>
</Grid>