@page "/"
@using MarketHub.Clients.Rates.Contracts.Dtos.LatestCurrencyRates
<PageTitle>Currency Portal</PageTitle>

<div class="row">
    <div class="col-2">
    </div>
    <div class="col-2">
        <div class="text-center">

        </div>
    </div>
    <div class="col-2">
    </div>
</div>