@inherits LayoutComponentBase
@namespace MarketHub.Apps.CurrencyPortal.Web.Layout

<BlazorBootstrapLayout>
    <ContentSection>
        <div class="row">
            <div class="col-2" />
            <div class="col-8">
                @Body
            </div>
            <div class="col-2" />
        </div>
    </ContentSection>
</BlazorBootstrapLayout>